{% comment %}
{{ bookmark }}: Bookmark 테이블의 특정 레코드 하나
                해당 객체를 프린트 하면, models.py의 해당 객체의 __str__() 메소드를 호출해서 그 결과를 출력
{% endcomment %}
{# 한줄 주석 사용 #}
<html>
   <head>
       <title>Bookmark List</title>
   </head>

<body>

    <div id="content">
        <h2>Bookmark List</h2>
        <ul>
            {% for bookmark in object_list %}
                <li><a href="{% url 'bookmark:detail' bookmark.id %}"> {{ bookmark }}</a></li>
            {% endfor %}
        </ul>


    </div>

</body>
</html>