{% extends 'blog/base.html' %}

{% comment %}
여러줄 주석
{% endcomment %}
{# 한줄 주석 #}
<html>
<head> 
	<meta charset="UTF-8">
	<title>Django blog</title>
</head>

<body>
{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock content %}

</body>
</html>
