{% extends "base.html" %}

{% block title %}Django{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/home.css" %}{% endblock %}

{% block content %}


    <div class="container-fluid">
	<div class="row">
        
        <div class="col-md-12">
            <h3 class="h3-title">블로그 목록</h3>
            
			<div class="panel-group" id="panel-900325">
                {% for post in posts %}
                <div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" href="#panel-element-{{ post.id }}" data-toggle="collapse" data-parent="#panel-900325">
                            {{ post.title }}
                        </a>
                        &nbsp;{{ post.modify_date|date:"N d, Y" }}
                        &nbsp;<a class="btn btn-primary btn-sm" href="{{ post.get_absolute_url }}">더보기...</a>
					</div>
					<div class="panel-collapse collapse{% if forloop.first %} in {% endif %}" id="panel-element-{{ post.id }}">
						<div class="panel-body">
							{{ post.text }}
						</div>
					</div>
                </div>
                {% endfor %}

                <ul class="pagination">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}">Prev</a>
                </li>
                {% endif %}
                {#% for pageNum in page_obj.paginator.num_pages %#}
                <li>
                    <a>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                </li>
                {#% endfor %#}
                {% if page_obj.has_next %}
                <li>    
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                {% endif %}
            </ul>

            </div>
        </div>

	</div>
	</div>
    
{% endblock content %}

{% block footer %}

{% endblock footer %}