{% extends "base.html" %}

{% block title %}Django{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{#% static "css/home.css" %#}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="jumbotron">
        <h2>
        반갑습니다!
        </h2>
        <p>
			부트스트랩 템플릿을 활용한 간단한 Django 웹사이트입니다.
			북마크 어플리케이션을 통해서 자신 만의 북마크를 저장하거나, 저장한 북마크를 삭제하거나 수정할 수도 있습니다.
			취미, 기술 등의 흥미로운 기록을 매일 남길 수도 있습니다. 자신이 원하는 내용을 올려보세요.
        </p>
        <!--p><a class="btn btn-primary btn-large" href="#">계속...</a></p-->
    </div>
    <div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<img alt="Bootstrap Thumbnail First" src="http://lorempixel.com/output/people-q-c-600-200-1.jpg">
				<div class="caption">
					<h3>
					북마크 어플리케이션
					</h3>
					<p>
					당신 만의 북마크를 저장할 수 있습니다. 물론 수정 삭제도 가능합니다.
					</p>
					<p>
						<a class="btn btn-primary" href="{% url 'bookmark:index' %}">북마크 어플리케이션으로</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img alt="Bootstrap Thumbnail Second" src="http://lorempixel.com/output/city-q-c-600-200-1.jpg">
				<div class="caption">
					<h3>
					블로그 어플리케이션
					</h3>
					<p>
					취미, 기술 등의 흥미로운 기록을 매일 남길 수 있습니다. 원하는 내용을 올려보세요.
					</p>
					<p>
						<a class="btn btn-primary" href="{% url 'blog:index' %}">블로그 어플리케이션으로</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img alt="Bootstrap Thumbnail Third" src="http://lorempixel.com/output/sports-q-c-600-200-1.jpg">
				<div class="caption">
					<h3>
					사진 어플리케이션
					</h3>
					<p>
					사진을 올릴 수 있습니다. 만약 앨범을 삭제한다면 관련 사진은 모두 사라집니다!
					</p>
					<p>
						<a class="btn btn-primary" href="{% url 'photo:index' %}">사진 어플리케이션으로</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block footer %}

{% endblock footer %}
